{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="content">
		<div class="columns is-centered">
			<div class="column is-one-third has-text-centered">
				<p class="is-size-1 has-text-weight-bold mb-1 has-text-white">404</p>
				<p class="is-size-3 is-family-secondary has-text-white">La página que buscas no existe</p>
				<figure class="image is-square">
					<picture>
						<source srcSet="images/nobeet.avif" type="image/avif" />
						<source srcSet="images/nobeet.webp" type="image/webp" />
						<source srcSet="images/nobeet.png" type="image/png" />
						<img class="nobeet" src="images/nobeet.png" alt="Ilustración de una betarraga" />
					</picture>
				</figure>
				<p class="is-family-secondary has-text-white">(Esperemos que exista para la próxima cosecha)</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
