<section id="contacto" class="section {% if extra %}is-small{% else %}is-medium{% endif%}">

    {% if extra %}
    <p class="has-text-centered has-text-white pb-6">{{ extra }}</p>
    {% endif %}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="container has-text-centered">
		    <div class="notification is-success is-hidden">
			    <button class="delete"></button>
			    Mensaje enviado exitosamente
		    </div>
                <h1 class="title has-text-white">Contacto</h1>
                <form action="https://api.staticforms.xyz/submit"
                accept-charset="UTF-8"
		id="contactoform"
                method="POST">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="nombre" class="label has-text-white">Nombre</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="nombre" name="name" class="input" type="text" placeholder="Juan" required>
                                    <span class="icon is-small is-left has-text-primary">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="correo" class="label has-text-white">Correo</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="correo" name="email" class="input" type="email" placeholder="juan@correo.com" required>
                                    <span class="icon is-small is-left has-text-primary">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="texto" class="label has-text-white">Texto</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea id="texto" name="message" class="textarea" placeholder="Escribe aquí..." required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
		    <input type="text" name="honeypot" style="display:none">
		    <input type="hidden" name="accessKey" value="9ac0447e-64f1-466d-a469-9f878d2118fa">
		    <input type="hidden" name="subject" value="Mensaje desde betarraga.com" />
		    <input type="hidden" name="replyTo" value="@">
		    <input type="hidden" name="redirectTo" value="https://betarraga.com?message=sent#contacto">

                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
				<button class="button is-link g-recaptcha" data-sitekey="6LcMwp8qAAAAALmCjL3op6uEHpfA9u-l_WSISWmr" data-callback="onSubmit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
