<section id="contacto" class="section is-medium">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="container has-text-centered">
                <h1 class="title has-text-white">Contacto</h1>
                <form action="https://formkeep.com/f/8dc58b95e660"
                accept-charset="UTF-8"
                enctype="multipart/form-data"
                onsubmit="beforeSubmit()" 
                method="POST">
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="nombre" class="label has-text-white">Nombre</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="nombre" name="nombre" class="input" type="text" placeholder="Juan" required>
                                    <span class="icon is-small is-left has-text-primary">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="correo" class="label has-text-white">Correo</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="correo" name="correo" class="input" type="email" placeholder="juan@correo.com" required>
                                    <span class="icon is-small is-left has-text-primary">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-label">
                            <label for="texto" class="label has-text-white">Texto</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <textarea id="texto" name="texto" class="textarea" placeholder="Escribe aquí..." required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button class="button is-link">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>