{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="container">
		<div class="columns is-centered is-vcentered">
			<div class="column is-one-quarter has-text-centered">
				<figure class="image">
					<img src="images/beetindex.png" alt="Objeto 3D rotativo" />
				</figure>
			</div>
			<div class="column is-half has-text-centered">
				<p class="is-family-secondary is-size-1 has-text-white">Crea el sitio web que tu proyecto necesita</p>
			</div>
		</div>
	</div>
</section>
{% include "contacto.html" %}
{% endblock %}