{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="container">
		<div class="columns is-centered is-vcentered">
			<div class="column is-one-quarter has-text-centered">
				<figure class="image has-image-centered">
					<picture>
					<source srciSet="images/beetindex.avif" type="image/avif" />
					<source srcSet="images/beetindex.webp" type="image/webp" />
					<source srcSet="images/beetindex.png" type="image/png" />
					<img src="images/beetindex.png" alt="Ilustración de una betarraga sonriendo" />
					</picture>
				</figure>
			</div>
			<div class="column is-half has-text-centered">
				<p class="is-family-secondary is-size-1 is-size-2-mobile has-text-white">Crea el sitio web que tu <span id="palabra">proyecto</span> necesita</p>
			</div>
		</div>
	</div>
</section>
{% include "proyectos.html" %}
{% include "productos.html" %}
{% include "precios.html" %}
{% include "contacto.html" %}
{% endblock %}
