<section id="precios" class="section is-medium has-background-success has-text-centered has-text-white">
    <h1 class="is-family-secondary is-size-2 is-size-4-mobile my-3">Crea una <i>landing page</i> por sólo <span class="has-text-primary">$250.000 pesos</span>.</h1>
    <h1 class="is-family-secondary is-size-2 is-size-4-mobile my-3">Incluye la creación de un correo corporativo.</h1>
    <h1 class="is-family-secondary is-size-2 is-size-4-mobile my-3">¡No tendrás que pagar por el servidor!</h1>
</section>
