<section id="proyectos" class="section is-medium has-background-gray has-text-centered">
    <h1 class="title has-text-success">Nuestras apps</h1>
    <div class="columns is-centered">
        <div class="column is-one-quarter">
            <div class="container has-text-centered">
                <h2 class="subtitle has-text-success">BetaGym</h2>
		<a href="{{ 'betagym.html' }}" target="_blank" rel="noopener noreferrer">
		  <figure class="image is-square marco-verde">
			  <picture>
		  		<source srcSet="images/productos/betagym/betagymlogo.png" type="image/jpg"/>
		  		<img src="images/productos/betagym/betagymlogo.png" alt="Logo de nuestra aplicación web BetaGym: una betarraga sonriente con brazos"/>
			  </picture>
		  </figure>
		</a>
            </div>
        </div>
    </div>
</section>
