<section id="contacto" class="section is-medium has-background-white has-text-centered">
    <h1 class="title has-text-primary">Últimos proyectos</h1>
    <div class="columns is-centered">
        <div class="column">
            <div class="container has-text-centered">
                <h2 class="subtitle has-text-primary">Portafolio</h2>
		<a href="https://josefinagilardi.xyz">
		  <figure class="image marco">
		  	<img src="images/proyectos/josefinagilardi.jpg" alt="Captura de pantalla de la página web josefinagilardi.xyz"/>
		  </figure>
		</a>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <h2 class="subtitle has-text-primary">iFiT Gym</h2>
		<a href="https://ifitgym.cl">
		  <figure class="image marco">
		  	<img src="images/proyectos/ifitgym.jpg" alt="Captura de pantalla de la página web ifitgym.cl"/>
		  </figure>
		</a>
            </div>
        </div>
        <div class="column">
            <div class="container has-text-centered">
                <h2 class="subtitle has-text-primary">Proyecto R</h2>
		<a href="https://proyector.cl">
		  <figure class="image marco">
		  	<img src="images/proyectos/proyector.jpg" alt="Captura de pantalla de la página web proyector.cl"/>
		  </figure>
		</a>
            </div>
        </div>
    </div>
</section>
